@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --font-title: "Plus Jakarta Sans", sans-serif;
    --font-button: "Manrope", sans-serif;
    --primaria-100: #4f4f4f;
    --secundaria-100: #ffffff;
    --azul-100: #005eff;
    --dark-texto: #000000;
    --preto: #000000;
}

::-webkit-scrollbar {
    border-radius: 8px;
    background-color: var(--primaria-100);
}

::-webkit-scrollbar-thumb {
    background: var(--primaria-100);
    border-radius: 8px;
}

* {
    margin: 0;
    padding: 0;

    overflow-x: hidden;

}

body {
    height: 100vh;
    background-color: var(--preto);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.0rem;
    margin-left: 5rem;
}

.logo {
    align-items: center;
    display: flex;
    justify-content: center;

    margin-left: 10rem;
}


.navbar a {
    color: #ffffff;
    text-decoration: none;

    transition: all 0.4s ease;
}

.navbar a:hover {
    color: var(--azul-100);
}

.btn-navbar {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.btn-navbar .login {
    background-color: transparent;
    padding: 0.8rem;
    border-radius: 10px;
    border: 1.5px solid #ffffff;
    color: white;
    width: 60%;

    font-family: var(--font-button);
    font-weight: bold;

    margin-right: 10rem;

    transition: all 1.5s ease;
}

.btn-navbar .login:hover {
    background-color: var(--primaria-100);
    color: #ffffff;
    border: 1px solid var(--primaria-100);
}

.conteudo {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-top: 0rem;
}

.img {
    margin-left: 2rem;

}

.form {
    margin-right: 25rem;
    background-color: white;
    border-radius: 10px;
    width: 45%;
}

.conteudoForm {
    padding: 1.5rem;
}

.conteudoForm h3 {
    font-family: var(--font-title);
    font-weight: bold;
    font-size: 2vw;

    margin-left: 3.5rem;
    color: var(--dark-texto);

}

.nomes {
    margin-left: 3.5rem;
    margin-top: 1rem;
}

.nome label {
    color: var(--preto);
    font-family: var(--font-title);
    font-size: 15px;
}

.nome input {
    padding: 0.5rem;
    height: 2rem;
    width: 85%;
    border-radius: 10px;
    border: 1.5px solid #00000075;

    margin-top: 0.5rem;
}

.email {
    margin-left: 3.5rem;
    margin-top: 1rem;
}

.email label {
    color: var(--preto);
    font-family: var(--font-title);
    font-size: 15px;
}

.email input {
    padding: 0.5rem;
    height: 2rem;
    width: 85%;
    border-radius: 10px;
    border: 1.5px solid #00000075;

    margin-top: 0.5rem;
}

.senha {
    margin-left: 3.5rem;
    margin-top: 1rem;

}

.senha label {
    color: var(--preto);
    font-family: var(--font-title);
    font-size: 15px;
}

.senha input {
    padding: 0.5rem;
    height: 2rem;
    width: 85%;
    border-radius: 10px;
    border: 1.5px solid #00000075;

    margin-top: 0.5rem;
}

.btn {
    display: flex;
    gap: 2rem;

    margin-left: 3.5rem;
    margin-top: 2rem;

    width: 100%;

}

.btn button {
    padding: 0.8rem;
    border-radius: 10px;
    border: 1.5px solid var(--primaria-100);
    background-color: var(--primaria-100);
    color: var(--secundaria-100);
    font-family: var(--font-button);
    font-weight: bold;
    width: 16rem;

    transition: all 1.5s ease;
}

.btn button:hover {
    background-color: transparent;
    color: var(--primaria-100);
    border: 1.5px solid var(--primaria-100);
}

.acesso {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.acesso p {
    font-size: 1rem;
    font-family: var(--font-title);
    color: var(--primaria-100);
    margin-top: 0.5rem;

}

.acesso a {
    color: var(--primaria-100);
}

.overflow-y {
    overflow-y: hidden;
}