@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --font-title: "Plus Jakarta Sans", sans-serif;
    --font-button: "Manrope", sans-serif;
    --black-100: #000000;
    --white-100: #ffffff;
    --purple-100: #8000ff;
    --dark-texto: #000000;
}

::-webkit-scrollbar{
    border-radius: 1px;
    width: 1px;
    background-color: var(--black-100);
  }

  ::-webkit-scrollbar-thumb{
    background: var(--black-100);
    border-radius: 8px;
  }

body {
    background-color: var(--black-100);
}

.banner video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1.0rem;
    position: fixed;
    background: transparent;
/*    background: #000000;*/
    width: 100%;
    z-index: 1000;
}

.logo {
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 3rem;
    justify-content: center;
    align-items: center;

    font-family: var(--font-title);
    font-weight: bold;

    transition: all 0.4s ease;
}

.navbar a {
    color: var(--white-100);
    text-decoration: none;

    transition: all 0.4s ease;
}

.navbar a:hover {
    color: var(--purple-100);
}

.btn-navbar {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.btn-navbar .login {
    background-color: transparent;
    padding: 0.8rem;
    border-radius: 10px;
    border: 1.5px solid #ffffff;
    color: white;
    width: 60%;

    font-family: var(--font-button);
    font-weight: bold;

    margin-right: 6.5rem;

    transition: all 1.5s ease;
}

.btn-navbar .login:hover {
    background-color: var(--purple-100);
    color: #ffffff;
    border: 1px solid var(--purple-100);
}


.inicio {
    display: flex;
    width: 100%;

    margin-top: 5rem;
}

.titulo {
    padding: 3rem;
    font-family: var(--font-title);
    width: 50%;
    position: relative;
    left: 6%;
}

.titulo h2 {
    font-size: 2.0rem;
    width: 100%;
}

.titulo span {
    font-style: oblique;
    text-decoration: underline var(--white-100);
}

.titulo p {
    color: gray;
    width: 100%;
    font-size: 1.2rem;

    margin-top: 0.9rem;
}

.img-inicio {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.img-inicio img {
    width: 100rem;
    margin-top: 0rem;

}

.sobre {
    
    gap: 4rem;
    padding: 3rem;
    font-family: var(--font-title);

    background-color: var(--dark-100);

}

.sobre h1 {
    font-size: 4vw;
    color: rgb(174, 103, 103);
    margin-top: 5rem;
}

.titulo-sobre {
    margin-top: 3rem;
    width: 60%;
}

.titulo-sobre span {
    color: var(--white-100);
}

.conteudo-sobre {
    display: flex;
    font-family: var(--font-title);
    gap: 3rem;
    width: 100%;
}

.conteudo-sobre h3 {
    font-size: 4vw;
    color: white;
}

.conteudo-sobre p {
    margin-top: 3rem;
    color: white;
    width: 90%;
    font-size: 18px;
    
}

.conteudo-sobre h4 {
    color: var(--white-100);
    margin-top: 1rem;
    font-size: 2vw;
    
}

.conteudo-sobre span {
     color: var(--purple-100);
}

.img-sobre img {
    width: 40rem;
    margin-top: 4rem;
}

.Texto {
    text-align: center;
    font-family: var(--white-100);
    width: 100%;
    margin-top: 3rem;
    
}

.texto h3 {
    font-family: var(--font-title);
    font-size: 3.4vw;
    width: 70%;
    margin-left: 15%;
}

.texto h4 {
    margin-top: 4rem;
    font-family: var(--font-title);
    color: var(--white-100);
    font-size: 2rem;
}


 /*CONTRIBUIR*/

body {
  color: #000000;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.card {
  background-color: #ffffff;
  padding: 3.5rem;
  border-radius: 1.5rem;
  width: 300px;
  box-shadow: 0 0 20px rgba(107, 2, 227, 0.4);
}

.card h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.key {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.qrcode {
  width: 160px;
  margin-top: 0.5rem;
}

